body{
    background-color: rgb(255, 204, 211);
   box-shadow: red;
}
section{
    margin: 126px;
    background-color: white;
}
section article{
    margin:0 auto;
    align-items: center;
    display: inline-block;
    width: 33%;
    text-align: center;
}
section article p:first-of-type{
    padding:10px;
}
section article img{
    height: 80px;
    width: 80px;
    padding: 20px;

}